
#slider{position: relative;
        margin:auto;
        margin-top:20px; 
        height:500px;
        border:5px solid black; 
        overflow:hidden;
      
    }

#wapper{width:400%;
       height:100%;
       transition:transform 0.5s ease-in-out; 
}             
#wapper .content{float:left;
                 width:25%;               
                 height:100%;
                 background-repeat:no-repeat;
                 position: relative;
                }
#wapper .content img{width:100%;

}                
#navLinks{text-align:center;
          position:absolute;
          top:0;
         right:50%; 
          transform: translate(50%, 0); 
}
#navLinks ul{margin:0px;
             padding:0px;
            display:inline-block;
            margin-top:6px;   
        }
        
#navLinks ul li{float: left;
    text-align: center;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #ccc;
    list-style: none;
    border: black 5px solid;
    border-radius: 50%;
}
  
#navLinks ul li:hover 
{
    background-color: #ff0;
}
 
#navLinks ul li.active 
{
    background-color: #333;
}

#navLinks ul li.active:hover 
{
    background-color: #484848;
}


 